version: '3'
services:
  luya_composer:
    image: composer
    volumes:
      - ./:/app
    command: composer install
  luya_php:
    image: luyadev/luya-docker-php
    volumes:
      - ./:/app
  luya_db:
    image: mysql:5.7
    command:
      - --character-set-server=utf8
      - --collation-server=utf8_general_ci
    environment:
      MYSQL_ROOT_PASSWORD: luya
      MYSQL_DATABASE: luya_kickstarter
      MYSQL_USER: luya
      MYSQL_PASSWORD: luya    
    volumes:
      - mysql-volume:/var/lib/mysql
    ports:
      - "3306:3306"
  luya_web:
    image: luyadev/luya-docker-nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/app

volumes:
  mysql-volume:
